[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/hugo-hello-programmer-theme"]
	path = themes/hugo-hello-programmer-theme
	url = https://github.com/lubang/hugo-hello-programmer-theme
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/pure"]
	path = themes/pure
	url = https://github.com/xiaoheiAh/hugo-theme-pure
